h1, p {
    margin: 0px;
   }
   
   #container {
    width: 1200px;
    margin: 0px auto;
    background-color: #f2f2f2;
    height: 600px;
   }
   #container>header{
    width: 1180px;
    float: left;
    margin: 10px;
    background-color: #d5d2d2;
    height: 100px;	 
   }

   #logo {
    width: 80px;
    height: 80px;
    float: left;
    background-image:url(images/bg2.jpg);
    /* background-color: #adacac; */
    margin: 10px;
    clear: both;
   }

   article {
    /* width: 1180px; */
    width: 380px;
    float: right;
    margin: 10px;
    background-color: #adacac;
    height: 350px;
    text-align: left;
   }